<div class="bar-nav">
	<ul class="nav-links">
		<li><a class="first-child<!-- IF adminNavi == "sponsor" --> active<!-- ENDIF -->" href="admin_sponsor.php">链接管理<i class="web-icon chev-right"></i></a></li>
		<li><a<!-- IF adminNavi == "club" --> class="active"<!-- ENDIF --> href="admin_club.php">类目管理<i class="web-icon chev-right"></i></a></li>
		<li><a<!-- IF adminNavi == "member" --> class="active"<!-- ENDIF --> href="admin_member.php">会员管理<i class="web-icon chev-right"></i></a></li>
		<li><a class="last-child<!-- IF adminNavi == "cache" --> active<!-- ENDIF -->" href="admin_cache.php">更新模版缓存<i class="web-icon chev-right"></i></a></li>
	</ul>
</div>