<div class="sponsor-list">
  <div class="sponsor-inner">
    <div class="sponsor-module-header">
      <h3>链接</h3>
      <!-- IF loginInfo.group > "0" -->
      <!-- IF loginInfo.group > "2" -->
        <small> · <a href="admin_sponsor.php">管理</a></small>
      <!-- ENDIF -->
      <!-- ENDIF -->
    </div>
    <ul class="sponsor-items">
      <!-- BEGIN sponsorList -->
      <li data="{:sid}">
        <a href="{:link}" target="_blank">{:text}</a>
      </li>
      <!-- END -->
    </ul>
  </div>
</div>