<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, height=device-height, user-scalable=no" name="viewport">
  <title>{:PHPSayConfig.sitename}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="mobile_static/flat.css" />
  <script type="text/javascript" src="static/jquery.js"></script>
  <script type="text/javascript" src="mobile_static/mobile.js"></script>
  <!-- INCLUDE _analytics.html -->
</head>
<body>
  <!-- INCLUDE mobile_header.html -->
  <div id="wrapper">
    <div class="content">
      <div class="box">
        <div class="cell">
          <a class="tab<!-- IF settingType == "avatar" --> current<!-- ENDIF -->" href="./settings.php">头像</a>
          <a class="tab<!-- IF settingType == "email" --> current<!-- ENDIF -->" href="./settings.php?with=email">邮箱</a>
          <a class="tab<!-- IF settingType == "password" --> current<!-- ENDIF -->" href="./settings.php?with=password">密码</a>
        </div>
        <div class="inner">
          <!-- IF settingType == "avatar" -->
          <form name="uploadForm" id="uploadForm" action="post.php" method="post" enctype="multipart/form-data">
            <div class="current-avatar">
              <img src="{:loginInfo.avatar}">
              <input class="file-select" type="file" name="avatar">
            </div>
            <input type="hidden" name="do" value="settingAvatar">
            <input class="submit-button" type="submit" value="保存头像">
          </form>
          <script type="text/javascript">checkSettingResult();$("#uploadForm").submit(uploadAvatar);</script>
          <!-- ELSEIF settingType == "email" -->
            <!-- IF userInfo.password == "" -->
              <strong>设置邮箱前需要先设置个人密码</strong>
            <!-- ELSE -->
              <form name="emailForm" id="emailForm" action="post.php" method="post">
                <div class="user-input">
                  <input type="password" maxlength="26" placeholder="当前密码" name="password" autocorrect="off" autocapitalize="off">
                </div>
                <div class="user-input">
                  <input type="text" maxlength="36" placeholder="邮件地址" name="email" value="{:userInfo.email}" autocorrect="off" autocapitalize="off">
                </div>            
                <input class="submit-button" type="submit" value="保 存">
              </form>
              <script type="text/javascript">$("#emailForm").submit(settingEmail);</script>
            <!-- ENDIF -->
          <!-- ELSEIF settingType == "password" -->
          <form name="passwordForm" id="passwordForm" action="post.php" method="post">
            <div class="user-input<!-- IF userInfo.password == "" --> hidden<!-- ENDIF -->">
              <input type="password" maxlength="26" placeholder="当前密码" name="password_current" autocorrect="off" autocapitalize="off">
            </div>
            <div class="user-input">
              <input type="password" maxlength="26" placeholder="<!-- IF userInfo.password != "" -->新<!-- ENDIF -->密码" name="password" autocorrect="off" autocapitalize="off">
            </div>
            <div class="user-input">
              <input type="password" maxlength="26" placeholder="确认密码" name="password_confirm" autocorrect="off" autocapitalize="off">
            </div>            
            <input class="submit-button" type="submit" value="保 存">
          </form>
          <script type="text/javascript">$("#passwordForm").submit(settingPassword);</script>
          <!-- ENDIF -->
        </div>
      </div>
    </div>
  </div>
  <!-- INCLUDE mobile_footer.html -->
</body>
</html>