<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, height=device-height, user-scalable=no" name="viewport">
  <title>{:PHPSayConfig.sitename}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="mobile_static/flat.css" />
  <script type="text/javascript" src="static/jquery.js"></script>
  <script type="text/javascript" src="mobile_static/mobile.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    <!-- IF resetCode != "" -->
    $("#resetForm").submit(resetPassword);
    <!-- ELSE -->
    $("#sendForm").submit(sendPassword);
    $(".verify-image").click(changeVerify);
    <!-- ENDIF -->
  });
  </script>
  <!-- INCLUDE _analytics.html -->
</head>
<body>
  <div class="header"><div class="logo"><a href="./"></a></div></div>
  <div id="wrapper">
    <div class="content">
      <!-- IF resetCode != "" -->
      <div class="box">
        <div class="cell">
          <div class="navigation">重设密码</div>
        </div>
        <div class="cell">
          <form id="resetForm" method="post" action="./passport.php?do=resetPassword&code={:resetCode}">
            <div class="user-input">
              <input id="password" type="password" maxlength="26" placeholder="新密码" name="password" autocorrect="off" autocapitalize="off">
            </div>
            <div class="user-input">
              <input id="password_confirm" type="password" maxlength="26" placeholder="确认密码" name="password_confirm" autocorrect="off" autocapitalize="off">
            </div>
            <input class="submit-button" type="submit" value="保 存">
          </form>
        </div>
      </div>
      <!-- ELSE -->
      <div class="box">
        <div class="cell">
          <div class="navigation">找回密码</div>
        </div>
        <div class="inner">
          <form id="sendForm" method="post" action="./passport.php?do=sendPassword">
            <div class="user-input">
              <input id="email" type="text" maxlength="36" placeholder="邮箱" name="email" autocorrect="off" autocapitalize="off">
            </div>
            <div class="user-verify">
	            <div class="verify-input">
		            <input id="verify_code" type="text" maxlength="5" placeholder="验证码" name="verify_code" autocorrect="off" autocapitalize="off">
	            </div>
	            <img class="verify-image" src="./verify.php?referer=send_password">            	
            </div>
            <input class="submit-button" type="submit" value="发 送">
          </form>
        </div>
      </div>     
      <!-- ENDIF -->
    </div>
  </div>
  <!-- INCLUDE mobile_footer.html -->
</body>
</html>