<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>最新<!-- IF listType == "topic" -->主题<!-- ELSEIF listType == "reply" -->回复<!-- ENDIF --> - {:PHPSayConfig.sitename}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="static/phpsay.css" />
  <script type="text/javascript" src="static/jquery.js"></script>
  <script type="text/javascript" src="static/jquery.image.js"></script>
  <script type="text/javascript" src="static/phpsay.global.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $(".stream-items .stream-item .stream-content").click(showTopic);
  });
  </script>
  <!-- INCLUDE _analytics.html -->
</head>
<body>
  <!-- INCLUDE _header.html -->
  <div class="container">
    <div class="dashboard ">
      <!-- INCLUDE _left_profile.html -->
      <div class="bar-nav">
        <ul class="nav-links">
          <li>
            <a class="first-child<!-- IF listType == "topic" --> active<!-- ENDIF -->" href="new.php">最新主题<i class="web-icon chev-right"></i></a>
          </li>
          <li>
            <a class="last-child<!-- IF listType == "reply" --> active<!-- ENDIF -->" href="new.php?list=reply">最新回复<i class="web-icon chev-right"></i></a>
          </li>
        </ul>
      </div>
      <!-- INCLUDE _left_copyright.html -->
    </div>
    <div class="content">
      <div class="content-header">
        <div class="header-inner">
          <h2>最新<!-- IF listType == "topic" -->主题<!-- ELSEIF listType == "reply" -->回复<!-- ENDIF --></h2>
        </div>
      </div>
      <ol class="stream-items">
        <!-- IF listType == "topic" -->
          <!-- BEGIN postList.list -->
          <li class="stream-item" id="item-{:tid}">
            <div class="stream-content" data="{:tid}">
              <a href="user.php?id={:uid}" class="item-user"><img class="item-avatar" src="{:avatar}" alt="{:nickname}"><strong class="item-nickname">{:nickname}</strong></a>
              <small class="time"><a href="t.php?id={:tid}">{:posttime}</a></small>
              <p class="item-message">{:message}</p>
              <!-- IF smallimg != "" --><div class="item-picture"><img src="{:smallimg}" data-expand="{:bigimage}"></div><!-- ENDIF -->
              <div class="stream-item-footer">
                <div class="item-actions">
                  <a onclick="favTopic({:tid});" id="favTopic-{:tid}"><span class="web-icon icon-fav"></span>收藏</a>
                  <!-- IF top.loginInfo.group > "1" --><a onclick="deleteTopic({:tid},0);" id="deleteTopic-{:tid}"><span class="web-icon icon-trash"></span>删除</a><!-- ENDIF -->
                </div>
                <a href="./?cid={:cid}">{:clubname}</a>
                <span class="point">•</span>
                <a href="t.php?id={:tid}" id="comment-{:tid}"><!-- IF comments > "0" --><strong>{:comments}</strong> <!-- ELSE -->暂无<!-- ENDIF -->回复</a>
              </div>
            </div>
          </li>
          <!-- END -->
        <!-- ELSEIF listType == "reply" -->
          <!-- BEGIN postList.list -->
          <li class="stream-item" id="item-{:pid}">
            <div class="stream-content" data="{:pid}">
              <a href="user.php?list=reply&id={:uid}" class="item-user"><img class="item-avatar" src="{:avatar}" alt="{:nickname}"><strong class="item-nickname">{:nickname}</strong></a>
              <small class="time"><a href="t.php?id={:tid}#reply{:pid}" id="comment-{:pid}">{:posttime}</a></small>
              <p class="item-message">{:message}</p>
              <!-- IF smallimg != "" --><div class="item-picture"><img src="{:smallimg}" data-expand="{:bigimage}"></div><!-- ENDIF -->
              <div class="stream-item-footer">
                <!-- IF top.loginInfo.group > "1" -->
                <div class="item-actions">
                  <a onclick="deleteReply({:pid});" id="deleteReply-{:pid}"><span class="web-icon icon-trash"></span>删除</a>
                </div>
                <!-- ENDIF -->
                <a href="t.php?id={:tid}"><span class="web-icon icon-topic"></span>主题</a>
              </div>
            </div>
          </li>
          <!-- END -->
        <!-- ENDIF -->
      </ol>
      <div class="stream-footer">
        <div class="stream-end-inner">
          <!-- IF postList.page.Total > "1" -->
            <!-- IF postList.page.Prev != "" -->
            <a href="{:postList.page.Prefix}{:postList.page.Prev}">上一页</a>
            <!-- IF postList.page.Next != "" -->
            <span class="pagination">{:postList.page.Current} / {:postList.page.Total}</span>
            <!-- ENDIF -->
            <!-- ENDIF -->
            <!-- IF postList.page.Next != "" -->
            <a href="{:postList.page.Prefix}{:postList.page.Next}">下一页</a>
            <!-- ENDIF -->
          <!-- ELSE -->
            <span class="pagination"><!-- IF postList.count > "0" -->已加载全部数据<!-- ELSE -->暂无数据<!-- ENDIF --></span>
          <!-- ENDIF -->
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="alert-messages">
    <div class="message">
      <span class="message-text"></span>
    </div>
  </div>
</body>
</html>