<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{:PHPSayConfig.sitename} - 重置密码</title>
	<link rel="stylesheet" type="text/css" media="screen" href="static/login.css?v" />
	<script type="text/javascript" src="static/jquery.js"></script>
	<script type="text/javascript" src="static/jquery.form.js"></script>
	<script type="text/javascript" src="static/phpsay.resetpassword.js"></script>
	<script type="text/javascript">
	var resetCode = "{:resetCode}";
	</script>
	<!-- INCLUDE _analytics.html -->
</head>
<body>
	<div class="header">{:PHPSayConfig.sitename}</div>
	<!-- IF resetCode == "" -->
	<div class="connectwindow">
		<div class="title">重新发送密码</div>
		<form id="sendform">
			<div class="connectform">
				<div class="connectinput">
					<div class="placeholder">邮箱</div>
					<input class="ipt" type="text" maxlength="36" spellcheck="false" value="" name="email" autocomplete="off">
				</div>			
				<div class="connectinput">
					<div class="placeholder">验证码</div>
					<input class="ipt iptshort" type="text" maxlength="5" spellcheck="false" value="" name="verify_code" autocomplete="off">
					<input type="submit" value="" class="btn">
				</div>
			</div>
		</form>
		<div class="connecttip"></div>
	</div>
	<!-- ELSE -->
	<div class="connectwindow">
		<div class="title">重置密码</div>
		<form id="resetform">
			<div class="connectform">
				<div class="connectinput">
					<div class="placeholder">新密码</div>
					<input class="ipt" type="password" maxlength="26" spellcheck="false" value="" name="password" autocomplete="off">
				</div>
				<div class="connectinput">
					<div class="placeholder">确认密码</div>
					<input class="ipt" type="password" maxlength="26" spellcheck="false" value="" name="password_confirm" autocomplete="off">
					<input type="submit" value="" class="btn">
				</div>				
			</div>
		</form>
		<div class="connecttip"></div>
	</div>
	<!-- ENDIF -->
	<div class="footer">
		<div class="links">
			<a href="./">返回至登录页</a>
		</div>
	</div>
</body>
</html>